<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:javaee="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<servlet-name>First</servlet-name>
  	<servlet-class>com.mphasis.SecurityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>First</servlet-name>
  	<url-pattern>/security</url-pattern>
  </servlet-mapping>
  <security-constraint>
  	<web-resource-collection>
  		<web-resource-name>secret</web-resource-name>
  		<url-pattern>/security</url-pattern>
  	</web-resource-collection>
  	
  	<auth-constraint>
  		<role-name>ADMIN</role-name>
  		<role-name>USER</role-name>
  	</auth-constraint>
  </security-constraint>
  
  
  <security-role>
  	<role-name>ADMIN</role-name>	
  </security-role>
  <security-role>
  	<role-name>USER</role-name>	
  </security-role>
  
  <login-config>
  	<auth-method>FORM</auth-method>
  	
  	<form-login-config>
  		<form-login-page>/views/login.jsp</form-login-page>
  		<form-error-page>/views/error.jsp</form-error-page>
  	</form-login-config>
  </login-config>
  
  
</web-app>
